/**
 * 框架内图片墙样式表
 */

 /*让container居中，当调整container宽度时，它也仍然会自动居中*/
 body{
 	margin: 0;
 	margin-top: 5px;
 }

 body #container{
 	margin: 0 auto;
 }

 body #container div.item{
    margin: 0 4px 15px;
    padding: 5px;
    float: left;
    background-color: #FFF;
    box-shadow: -1px 0 4px #ccc,0px -1px 4px #ccc,1px 0 4px #ccc,0 1px 4px #ccc;
    -webkit-transition: box-shadow .3s,transform .3s;
    transition: box-shadow .3s, transform .3s;
    transform-origin: 50% 100%;
}

body.touch-device #container div.item{
    box-shadow: none;
}

body #container div.item.loading img{
    background: url(images/ajax-loader.gif) no-repeat center center;
}

.image-wrapper{
	position: relative;
}

.image-wrapper a.getit{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/getit.png) center center no-repeat;
	background-color: rgba(0,0,0,.3);
}

.image-wrapper.hvr a.getit{
	display: block;
}

.item.added .image-wrapper.hvr a.getit,
.item.saving .image-wrapper.hvr a.getit{
	display: none;
}

.item.saving .image-wrapper img{
	opacity: .5;
}

body.in_social_page .image-wrapper.hvr a.getit{
	display: none;
}

@media (max-width: 500px){
	body.touch-device #container{
	 	margin: 0;
	 }

	body.touch-device #container .item{
		margin-left: 0;
		margin-right: 0;
		box-shadow: none;
	}

	body.touch-device .image-wrapper a.getit{
		display: none;
	}
}