/* Preload images */
body:after {
  content: url(images/close.png) url(images/loading-lb.gif) url(images/prev.png) url(images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-des-con{
  min-width: 200px;
  max-width: 680px;
}

/*添加图片描述*/
.lb-description .img-des{
  position: relative;
  margin: 10px 0 35px;
}

.lb-description .img-des .button{
  width: 100%;
  background: #fff;
  text-align: right;
  height: 27px;
}

.lb-description .img-des .button span{
  background: #f3f3f3;
  display: none;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0 20px 5px 0;
  cursor: pointer;
}

.lb-description .img-des .button span{
  display: inline-block;
}

.lb-description .img-des textarea{
  width: 100%;
  min-height: 45px;
  padding: 5px;
  outline: none;
  resize: none;
  border:none;
  margin: 0;
}

.lb-description .img-des .triangle.outside{
  border-top: 45px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -45px;
  left: 70%;
  z-index: 10;
  display: none;
}

.lb-description .img-des .triangle{
  border-top: 45px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  bottom: 0;
  left: -9px;
}

.lb-description.show-triangle .img-des .triangle.outside{
  display: block;
}




.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  padding-bottom: 40px;/* 2014-6-29 */
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}


.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 8px 8px 0 8px;
  height: 100%;
  position: relative;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(images/loading-lb.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
  display: none;/*2014-6-29*/
}

.lb-data .lb-close {
  position: fixed;
  right: 20px;
  top: 20px;
  word-break: break-all;
  /* display: block;2014-6-29
  float: right; */
  width: 30px;
  height: 30px;
  background: url(images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


#lightbox .lb-op-con{
  font-size: 14px;
  color: #575757;
  margin-top: 6px;
}

#lightbox .lb-op-con span.icon-item{
  /*background: #f3f3f3;*/
  padding: 2px;
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  /*border: 1px solid #ccc;*/
}

#lightbox .lb-op-con .share-con{
  float: right;
  margin-right: 5px;
}

/*#lightbox .lb-op-con .share-con span{
  border-left: none;
}*/

#lightbox .lb-op-con .share-con span:first-child{
  /*border-left: 1px solid #ccc;*/
  /*border-radius: 2px 0 0 2px;*/
}

#lightbox .lb-op-con .state{
  float: left;
  margin-left: 8px;
}
/*#lightbox .lb-op-con .state span:first-child{
  margin-left: 4px;*/
  /*border-right:none; */
  /*border-left: 1px solid #ccc;*/
  /*border-radius: 2px 0 0 2px;*/
}

/*#lightbox .lb-op-con .state span:last-child{
  border-radius: 0 2px 2px 0;
}*/

/*#lightbox .lb-op-con .share-con span.icon-item:last-child{
  padding-left: 6px;
  border-left: 1px solid #ccc;
}*/

/*#lightbox .lb-op-con .share-con span.icon-item:nth-child(6){
  border-radius: 0 2px 2px 0; 
}*/

#lightbox .lb-op-con span.icon-item:hover{
  background-color: #00cccc;
  color: #fff;
}

#lightbox .lb-des-con .note-con div.note{
  height: 100px;
  line-height: 1.2;
  color: #ccc;
  text-align: left;
  word-break: break-all;
}

#lightbox .lb-des-con div.note.editable a.open{
    color: inherit;
    text-decoration: underline;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}

#lightbox .lb-des-con .note-con.editing div.note{
  border:1px #20b0a4 dashed;
}

.lb-outerContainer.animating .lb-op-con{
  display: none;
}

